In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import os
from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import acquire1
import env

import prepare

import graphviz
from graphviz import Graph

In [2]:
#acquire and prepare my dataset
train, validate, test = prepare.prep_titanic(acquire1.get_titanic_data())

In [ ]:
train.head()

In [ ]:
#drop columns I won't need
train.drop(columns=['sex', 'embark_town'], inplace=True)
validate.drop(columns=['sex', 'embark_town'], inplace=True)
test.drop(columns=['sex', 'embark_town'], inplace=True)

In [ ]:
train.head()

What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [ ]:
#create baseline
train['baseline']= 0

In [ ]:
train.head()

In [ ]:
#check accuracy of baseline
accuracy = (train.survived == train.baseline).mean()
accuracy

In [ ]:
#drop baseline column after getting the accuracy since we don't need it any longer
# Remove two columns name is 'C' and 'D'
#df.drop(['C', 'D'], axis = 1) example
train.drop('baseline', axis =1)

2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [ ]:
#create the object
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [ ]:
# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [ ]:
# model.fit(X, y)

clf = clf.fit(X_train, y_train)

In [ ]:
dot_data = export_graphviz(clf, feature_names= X_train.columns, class_names=('survived', 'died'), rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('titanic_decision_tree', view=True)

3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [ ]:
#finding model score
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(clf.score(X_train, y_train)))

In [ ]:
y_pred = clf.predict(X_train)
y_pred[0:5]

In [ ]:
#create a confusion matrix
confusion_matrix(y_train, y_pred)

In [ ]:
labels = sorted(y_train.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

In [ ]:
#print classification report
print(classification_report(y_train, y_pred))

4. Compute: Accuracy, true positive rate(recall), false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [ ]:
#create a confusion matrix
confusion_matrix(y_train, y_pred)

Run through steps 2-4 using a different max_depth value.

2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [ ]:
#create the object
clf = DecisionTreeClassifier(max_depth=4, random_state=123)

In [ ]:
# model.fit(X, y)

clf = clf.fit(X_train, y_train)

In [ ]:
X_train.head()

In [ ]:
X_validate.head()

In [ ]:
#create decision tree .pdf
dot_data = export_graphviz(clf, feature_names= X_train.columns, class_names=('survived', 'died'), rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('titanic_decision_tree', view=True)

3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [ ]:
#finding model score
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(clf.score(X_train, y_train)))

In [ ]:
#clf.predict(X_train) uses the model to create a prediction for each row in the X_train dataframe and each prediction is
# based on the specific features and their values in that given row...one prediction for each row in that dataframe
y_pred = clf.predict(X_train)
y_pred[0:5]

In [ ]:
#create a confusion matrix
confusion_matrix(y_train, y_pred)

In [ ]:
labels = sorted(y_train.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

In [ ]:
#print classification report
print(classification_report(y_train, y_pred))

Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.(See above)

6. Which model performs better on your in-sample data?
The second model with depth of 4 performs better.

7. Which model performs best on your out-of-sample data, the validate set?

In [ ]:
train.shape

In [ ]:
train.head()

In [ ]:
train.drop('baseline', axis =1, inplace=True)

In [ ]:
train.shape

In [ ]:
validate.shape

In [ ]:
print('Accuracy of Decision Tree classifier on validate set: {:.2f}'
     .format(clf.score(X_validate, y_validate)))

the model is trained on train, and we’ll use that same model to run .predict on X_train, then X_validate, and eventually X_test

In [ ]:
train.head()
validate.head()

In [ ]:
# And since accuracy isn't everything

# Produce y_predictions that come from the X_validate
y_pred = clf.predict(X_validate)

# Compare actual y values (from validate) to predicted y_values from the model run on X_validate
print(classification_report(y_validate, y_pred))

In [ ]:
######################################## Random Forest

Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

Evaluate your results using the model score, confusion matrix, and classification report.

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

Run through steps increasing your min_samples_leaf and decreasing your max_depth.

What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

After making a few models, which one has the best performance (or closest metrics) on both train and validate?

In [ ]:
#acquire the data
# read Iris data from pydatset
df = data('iris')

# convert column names to lowercase, replace '.' in column names with '_'
df.columns = [col.lower().replace('.', '_') for col in df]

#inspect the data
df.head()

In [ ]:
target = 'species'

In [ ]:
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [ ]:
# split into train, validate, test
train, validate, test = train_validate_test_split(df, target='species', seed=123)

# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['species'])
y_train = train.species

X_validate = validate.drop(columns=['species'])
y_validate = validate.species

X_test = test.drop(columns=['species'])
y_test = test.species

In [ ]:
train.head()

Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [ ]:
#create the object
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=1,
                            n_estimators=100,
                            max_depth=10, 
                            random_state=123)

In [ ]:
#Fit the random forest algorithm to the training data.

rf.fit(X_train, y_train)

In [ ]:
print(rf.feature_importances_)

Evaluate your results using the model score, confusion matrix, and classification report.

In [ ]:
#Make Predictions classify each flower by its estimated species.
y_pred = rf.predict(X_train)

In [ ]:
#Estimate the probability of each species, using the training data
y_pred_proba = rf.predict_proba(X_train)

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [ ]:
#finding model score
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

In [ ]:
#create confusion matrix
confusion_matrix(y_train, y_pred)

In [ ]:
#print classification report
print(classification_report(y_train, y_pred))

3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [ ]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))
print('True Positive Rate: {}')
print('False Positive Rate: {}')
print('True Negative Rate: {}')
print('False Negative Rate: {}')
print('Precision: {1.00}')
print('Recall: {1.00}')
print('F-1 Score: {1.00}')
print('Support: {28}')

In [ ]:
confusion_matrix(y_train, y_pred)

Values gathered from confusion matrix above:

Setosa
TP = 28(cell1) where setosa meets setosa
FN = 0 (cell2 + cell3) setosa row other than TP
FP = 0 (cell4 + cell7) setosa column other than TP
TN = 56 (cell5 + cell6 + cell8 + cell9) everything other than setosa row and column

Versicolor
TP = 28 (cell5) where versicolor meets versicolor
FN = 0 (cell4 + cell6) versicolor row other than TP
FP = 0 (cell2 + cell8) versicolor column other than TP
TN = 28 (cell1 + cell3 + cell7 + cell9) everything other than versicolor row and column

Virginica
TP = 28
FN = 0
FP = 0
TN = 56

What is the difference between these values and the actual rate of each?

4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [ ]:
#Test 1 change min_samples_leaf to 3 from 1

In [ ]:
#create the object
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            max_depth=10, 
                            random_state=123)

In [ ]:
#Fit the random forest algorithm to the training data.

rf.fit(X_train, y_train)

In [ ]:
print(rf.feature_importances_)

In [ ]:
#Make Predictions classify each flower by its estimated species.
y_pred = rf.predict(X_train)

In [ ]:
#Estimate the probability of each species, using the training data
y_pred_proba = rf.predict_proba(X_train)

In [ ]:
#finding model score
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))

In [ ]:
#create confusion matrix
confusion_matrix(y_train, y_pred)

In [ ]:
#print classification report
print(classification_report(y_train, y_pred))

In [ ]:
# The results are decreased accuracy by .02 decreased recall, precision and f-1 by a small 
# amount

In [ ]:
# TEST 2 change min_samples_leaf from 3 to 6

In [ ]:
def test_my_model(df):
    #create the object
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=6,
                            n_estimators=100,
                            max_depth=10, 
                            random_state=123)
    #Fit the random forest algorithm to the training data.
    rf.fit(X_train, y_train)
    print(rf.feature_importances_)
    #Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))
    return
    
test_my_model(df)

In [ ]:
test_my_model(df)

In [ ]:
 #create the object
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=6,
                            n_estimators=100,
                            max_depth=10, 
                            random_state=123)

In [ ]:
#Fit the random forest algorithm to the training data.
rf.fit(X_train, y_train)

In [ ]:
print(rf.feature_importances_)

In [ ]:
#Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))

In [ ]:
# Results the accuracy and other measurements did not change at all or just in the smallest
# amount that did not seem significant

In [ ]:
# Test 3 change max depth from 10 to 5

In [ ]:
def test_my_model(df):
    #create the object
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=1,
                            n_estimators=100,
                            max_depth=5, 
                            random_state=123)
    #Fit the random forest algorithm to the training data.
    rf.fit(X_train, y_train)
    print(rf.feature_importances_)
    #Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))
    return
    
test_my_model(df)

In [ ]:
# Results this changes the accuracy back to 1 along with precision, recall, f1

In [ ]:
# Test 4 change max depth to 2 from 5

In [ ]:
def test_my_model(df):
    #create the object
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=6,
                            n_estimators=100,
                            max_depth=2, 
                            random_state=123)
    #Fit the random forest algorithm to the training data.
    rf.fit(X_train, y_train)
    print(rf.feature_importances_)
    #Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))
    return
    
test_my_model(df)

In [ ]:
# Results also not much significant change

In [ ]:
# Test 5 change the leaf to 2 and keep depth at 2

In [ ]:
def test_my_model(df):
    #create the object
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=4,
                            n_estimators=100,
                            max_depth=4, 
                            random_state=123)
    #Fit the random forest algorithm to the training data.
    rf.fit(X_train, y_train)
    print(rf.feature_importances_)
    #Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))
    return
    
test_my_model(df)

In [ ]:
# Result still no significant changes

5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?
The model performs best on max_depth of five and with min_samples_leaf at 1.  I'm not sure why though.

After making a few models, which one has the best performance (or closest metrics) on both train and validate?

In [ ]:
# find accuracy on validate data
print('Accuracy of random forest classifier on test set: {:.2f}'
     .format(rf.score(X_validate, y_validate)))

In [ ]:
def test_my_model(df):
    #create the object
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=1,
                            n_estimators=100,
                            max_depth=5, 
                            random_state=123)
    #Fit the random forest algorithm to the training data.
    rf.fit(X_train, y_train)
    print(rf.feature_importances_)
    #Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))
    return
    
test_my_model(df)

In [ ]:
# find accuracy on validate data
print('Accuracy of random forest classifier on test set: {:.2f}'
     .format(rf.score(X_validate, y_validate)))

In [ ]:
#This function should label and plot that array of feature importances if you just pass it 
# your classifier object.
def impurity_decrese_vs_feature_plot(clf):
    # Calculate standard deviation of mean impurity across all trees for each feature.
    std = np.std([
        tree.featureimportances for tree in clf.estimators_], axis=0)

    # Caluclate feature importances and label them with the columns from our train set.
    forest_importances = pd.Series(clf.featureimportances, index=X_train.columns)

    fig, ax = plt.subplots()
    forest_importances.plot.bar(yerr=std, ax=ax)
    ax.set_title("Feature importances using MDI")
    ax.set_ylabel("Mean decrease in impurity")
    fig.tight_layout()
    return fig

In [ ]:
def test_my_model(df):
    #create the object
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=6,
                            n_estimators=100,
                            max_depth=2, 
                            random_state=123)
    #Fit the random forest algorithm to the training data.
    rf.fit(X_train, y_train)
    print(rf.feature_importances_)
    #Make Predictions classify each flower by its estimated species.
    y_pred = rf.predict(X_train)
    #Estimate the probability of each species, using the training data
    y_pred_proba = rf.predict_proba(X_train)
    #finding model score
    print('Accuracy of random forest classifier on training set: {:.2f}'
    .format(rf.score(X_train, y_train)))
    #create confusion matrix
    confusion_matrix(y_train, y_pred)
    #print classification report
    print(classification_report(y_train, y_pred))
    return
    
test_my_model(df)

In [ ]:
# find accuracy on validate data
print('Accuracy of random forest classifier on test set: {:.2f}'
     .format(rf.score(X_validate, y_validate)))

In [ ]:
# Can't figure out why my validate accuracy doesn't change, might be doing something
# wrong here

In [ ]:
impurity_decrese_vs_feature_plot(clf)

In [ ]:
################### KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample) - use titanic dataset

In [ ]:
df= pd.read_csv('titanic_df.csv')

In [ ]:
#df.drop(columns='deck',inplace=True)
df.drop(columns='embarked',inplace = True)

In [ ]:
df.drop(columns='deck', inplace=True)

In [ ]:
df.drop(columns='passenger_id', inplace=True)

In [ ]:
df.drop(columns='Unnamed: 0', inplace=True)

In [ ]:
#replace female and male with 0 and 1
df.replace(to_replace={'female'}, value= 0, inplace= True)
df.replace(to_replace={'male'}, value = 1, inplace = True)

In [ ]:
df.replace(to_replace={"First"}, value=1, inplace=True)
df.replace(to_replace={"Second"}, value = 2, inplace=True)
df.replace(to_replace={"Third"}, value = 3, inplace =True)

In [ ]:
#make embark_town numbers
df.replace({'embark_town':{'Southampton': 1, 'Cherbourg': 2, 'Queenstown': 3}}, inplace=True)

In [ ]:
#fill in null for age, too many just drop column
df.age.isnull().value_counts()

In [ ]:
#drop age column
df.drop(columns="age", inplace=True)

In [ ]:
#check for additional nulls
df.isnull().value_counts()

In [ ]:
#which embark_town is the most common
df['embark_town'].value_counts()

In [ ]:
#fill in 2 nulls with mode for embark_town
df.embark_town.fillna(1, inplace=True)

In [ ]:
df.rename(columns={'sex':'is_male'})

In [ ]:
df.isnull().value_counts()

In [ ]:
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [ ]:
# split into train, validate, test
train, validate, test = train_validate_test_split(df, target='survived', seed=123)

# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
y_pred = knn.predict(X_train)

In [ ]:
y_pred_proba = knn.predict_proba(X_train)

In [ ]:
#2. Evaluate your results using the model score, confusion matrix, and classification report.

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('True positive rate: 263')
print('False positive rate: 44')
print('True negative rate: 139')
print('False negative rate: 52')
print('Precision: .83')
print('Recall: .86')
print('f1-score: .85')
print('support:307')

4. Run through steps 2-4 setting k to 10

In [ ]:
knn = KNeighborsClassifier(n_neighbors=10, weights='uniform')

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
y_pred = knn.predict(X_train)

In [ ]:
y_pred_proba = knn.predict_proba(X_train)

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('True positive rate: 267')
print('False positive rate: 40')
print('True negative rate: 123')
print('False negative rate: 68')
print('Precision: .80')
print('Recall: .87')
print('f1-score: .83')
print('support:307')

5.Run through setps 2-4 setting k to 20

In [ ]:
knn = KNeighborsClassifier(n_neighbors=20, weights='uniform')

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
y_pred = knn.predict(X_train)

In [ ]:
y_pred_proba = knn.predict_proba(X_train)

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

In [ ]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('True positive rate: 263')
print('False positive rate: 44')
print('True negative rate: 106')
print('False negative rate: 85')
print('Precision: .76')
print('Recall: .86')
print('f1-score: .80')
print('support:307')

6. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?
When k is set to 5 the accuracy, precision, recall and f-1 score is better on average

7. Which model performs best on our out-of-sample data from validate?
When k is set to 5 precision, recall and f-1 score are better on average than the rest.

https://machinelearningmastery.com/calculate-feature-importance-with-python/
Permutation Feature Importance for Classification
try this for feature importance data

In [ ]:
############################################## Logistic Regression

1. Create a model that includes age in addition to fare and pclass. Does this model perform better than your baseline?

In [3]:
from sklearn.linear_model import LogisticRegression

In [4]:
# read titanic data from csv in directory
df = pd.read_csv('titanic_df.csv')

In [5]:
def prep_titanic(df):
    '''
    This function take in the titanic data acquired by get_titanic_data,
    Returns prepped train, validate, and test dfs with embarked dummy vars,
    deck dropped, and the mean of age imputed for Null values.
    '''
    
    # drop rows where embarked/embark town are null values
    df = df[~df.embarked.isnull()]
    
    # encode embarked using dummy columns
    titanic_dummies = pd.get_dummies(df.embarked, drop_first=True)
    
    # join dummy columns back to df
    df = pd.concat([df, titanic_dummies], axis=1)
    
    # drop the deck column
    df = df.drop(columns='deck')
    
    # split data into train, validate, test dfs
    train, validate, test = titanic_split(df)
    
    # impute mean of age into null values in age column
    train, validate, test = impute_mean_age(train, validate, test)
    
    return train, validate, test

In [6]:
#create a baseline
df['baseline']= 0
df

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone,baseline
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1,0
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1,0
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1,0
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1,0
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1,0

In [7]:
#2. create dummy columns for sex
dummy_df = pd.get_dummies(df['sex'], dummy_na=False)

In [8]:
#attach the dummy columns to the main df
df = pd.concat([df,dummy_df], axis=1)
df.head(1)

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone,baseline,female,male
0,0,0,0,3,male,22.0,1,0,7.25,S,Third,NaN,Southampton,0,0,0,1

In [9]:
df.drop(columns=['Unnamed: 0','sex','passenger_id','sibsp','parch','fare','embarked','class','deck','embark_town'], inplace=True)

In [10]:
df.head()

   survived  pclass   age  alone  baseline  female  male
0         0       3  22.0      0         0       0     1
1         1       1  38.0      0         0       1     0
2         1       3  26.0      1         0       1     0
3         1       1  35.0      0         0       1     0
4         0       3  35.0      1         0       0     1

In [11]:
#fill empty values in age with the median age
df.age = df.age.fillna(value=df.age.median())

In [12]:
#check that age has no nulls
#df.isna().sum()
#df.age.isna().sum()
df.age.isna().sum()

0

In [ ]:
from sklearn.model_selection import train_test_split

def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [25]:
#split into train, validate, test
train, validate, test = train_validate_test_split(df, target='survived', seed=123)

# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [26]:
X_train.head()

     pclass   age  alone  baseline  female  male
583       1  36.0      1         0       0     1
165       3   9.0      0         0       0     1
50        3   7.0      0         0       0     1
259       2  50.0      0         0       1     0
306       1  28.0      1         0       1     0

In [27]:
# create the object
logit = LogisticRegression(C=1, class_weight={0:1, 1:99}, random_state=123, 
                           intercept_scaling=1, solver='lbfgs')

In [28]:
#fit the object
logit.fit(X_train, y_train)

LogisticRegression(C=1, class_weight={0: 1, 1: 99}, random_state=123)

In [29]:
#train
X_train.head()

     pclass   age  alone  baseline  female  male
583       1  36.0      1         0       0     1
165       3   9.0      0         0       0     1
50        3   7.0      0         0       0     1
259       2  50.0      0         0       1     0
306       1  28.0      1         0       1     0

In [30]:
print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

Coefficient:
 [[-1.00160559 -0.03259391  0.05277647  0.          1.33835456 -1.3384998 ]]
Intercept:
 [7.56540657]

In [31]:
y_pred = logit.predict(X_train)

In [32]:
y_pred_proba = logit.predict_proba(X_train)

In [33]:
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 0.38

In [34]:
print(confusion_matrix(y_train, y_pred))

[[  0 307]
 [  0 191]]

In [35]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       307
           1       0.38      1.00      0.55       191

    accuracy                           0.38       498
   macro avg       0.19      0.50      0.28       498
weighted avg       0.15      0.38      0.21       498

In [36]:
# 2b. compare this model to my baseline
#check accuracy of baseline
accuracy = (train.survived == train.baseline).mean()
accuracy

0.6164658634538153

In [37]:
#my model has an accuracy of 38% and the baseline 62%

In [38]:
# check model performance on validate
# make predictions

y_pred1 = logit.predict(X_validate)

In [39]:
print("Model 1: solver = lbfgs, c = 1")

# accuracy of model 1
print('Accuracy: {:.2f}'.format(logit.score(X_validate, y_validate)))

Model 1: solver = lbfgs, c = 1
Accuracy: 0.38

In [40]:
# confusion matrix of model 1
print(confusion_matrix(y_validate, y_pred1))

[[  0 132]
 [  0  82]]

In [41]:
# classification report of model 1
print(classification_report(y_validate, y_pred1))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       132
           1       0.38      1.00      0.55        82

    accuracy                           0.38       214
   macro avg       0.19      0.50      0.28       214
weighted avg       0.15      0.38      0.21       214

In [42]:
#3. Try out other combinations of features and models.

In [43]:
#This go round we willl keep traveling alone and change c to .5 and see what that does
df.drop(columns=['survived'])

   survived  pclass   age  alone  baseline  female  male
0         0       3  22.0      0         0       0     1
1         1       1  38.0      0         0       1     0
2         1       3  26.0      1         0       1     0
3         1       1  35.0      0         0       1     0
4         0       3  35.0      1         0       0     1

In [16]:
from sklearn.model_selection import train_test_split

def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [ ]:
#create X_train[features] that lays out which variables you want to use to test

In [14]:
#class_weight = 'balanced' will take into account the minority

In [ ]:
# create array of probabilities of survived (survived == 1)

y_pred_proba = np.array([i[1] for i in y_pred_proba])

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# scatter plot where x is the probabilities and y is the class (0, 1)
ax.scatter(y_pred_proba, y_pred)

In [17]:
#split into train, validate, test
train, validate, test = train_validate_test_split(df, target='survived', seed=123)

# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train
y_train = train.survived

X_validate = validate
y_validate = validate.survived

X_test = test
y_test = test.survived

In [18]:
# from sklearn.linear_model import LogisticRegression
logit = LogisticRegression(C=.5, class_weight={0:1, 1:99}, random_state=123, intercept_scaling=1, solver='lbfgs')

In [19]:
#fit the model
logit.fit(X_train, y_train)

LogisticRegression(C=0.5, class_weight={0: 1, 1: 99}, random_state=123)

In [20]:
print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

Coefficient:
 [[ 9.08726889e+00 -5.41598051e-01 -1.35464226e-02  1.70158760e-03
   0.00000000e+00  6.63292891e-01 -6.63297472e-01]]
Intercept:
 [-0.66337496]

In [21]:
y_pred = logit.predict(X_train)

In [22]:
#find the probability
y_pred_proba = logit.predict_proba(X_train)

In [23]:
#find the accuracy
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 1.00

In [ ]:
#4. Use you best 3 models to predict and evaluate on your validate sample.

In [ ]:
#practice changing the threshold t 
# there is a function Ravinder uploaded for our use logistic_regression_util.plot....
#there is also a evaluate_model function you can use to try diffent c's