In [34]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix

2. Given the following confusion matrix, evaluate (by hand) the model's performance.

In [17]:
data = {'actual_dog':['46','7'],'actual_cat':['13','34']}
df = pd.DataFrame(data, columns = ['actual_dog','actual_cat'], index=['pred_dog','pred_cat'])
df

         actual_dog actual_cat
pred_dog         46         13
pred_cat          7         34

In [18]:
#In the context of this problem, what is a false positive?
# choose dog, but it's not dog

In [19]:
#In the context of this problem, what is a false negative?
# don't choose dog, but it is a dog

In [20]:
#How would you describe this model?
#Far from accurate

3. Use the predictions dataset and pandas to help answer the following questions:

a. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [35]:
df_ducks = pd.read_csv('c3.csv')

In [36]:
df_ducks

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [ ]:
# use the Recall because we are concerned with False negatives which could let defects go by

In [ ]:
# what is the best model to use?

In [38]:
#model 1
#subset is where the actual is a defect
subset = df_ducks[df_ducks.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [42]:
subset.actual.value_counts()

Defect    16
Name: actual, dtype: int64

In [43]:
subset.model1.value_counts()

Defect       8
No Defect    8
Name: model1, dtype: int64

In [39]:
# model #1 recall
model_recall = (subset.actual == subset.model1).mean()
print("Model 1")
print(f'Model recall: {model_recall:.2%}') # .2% comes from tp/(tp + fp)

Model 1
Model recall: 50.00%

In [45]:
# model #2 recall
model_recall = (subset.actual == subset.model2).mean()
print("Model 2")
print(f'Model recall: {model_recall: .2%}')

Model 2
Model recall:  56.25%

In [46]:
# model #3 recall
model_recall = (subset.actual == subset.model3).mean()
print("Model 3")
print(f'Model recall: {model_recall: .2%}')

Model 3
Model recall:  81.25%

In [ ]:
# we will choose model 3 with the highest recall to avoid false negatives

B. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [55]:
# we want to focus on reducing False positives so we will choose the precision metric
subset = df_ducks[df_ducks.model1 == 'Defect']
subset

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [56]:
#precision
model_precision = (subset.actual == subset.model1).mean()
model_precision

0.8

In [57]:
print('Model 1')
print(f'Model precision: {model_precision: .2%}')

Model 1
Model precision:  80.00%

In [59]:
#find only the positive predictions in model 2
subset = df_ducks[df_ducks.model2 == "Defect"]
subset

        actual     model1  model2     model3
0    No Defect  No Defect  Defect  No Defect
1    No Defect  No Defect  Defect     Defect
2    No Defect  No Defect  Defect  No Defect
3    No Defect     Defect  Defect     Defect
4    No Defect  No Defect  Defect  No Defect
..         ...        ...     ...        ...
183  No Defect  No Defect  Defect  No Defect
185  No Defect  No Defect  Defect  No Defect
193  No Defect  No Defect  Defect     Defect
195  No Defect  No Defect  Defect     Defect
198  No Defect  No Defect  Defect     Defect

[90 rows x 4 columns]

In [61]:
#find precision
model_precision = (subset.actual == subset.model2).mean()
model_precision

0.1

In [62]:
print('Model 2')
print(f'Model 2: {model_precision: .2%}')

Model 2
Model 2:  10.00%

In [63]:
# select on the rows where model 3 predicts positives
subset = df_ducks[df_ducks.model3 == 'Defect']
subset

        actual     model1     model2  model3
1    No Defect  No Defect     Defect  Defect
3    No Defect     Defect     Defect  Defect
5    No Defect  No Defect  No Defect  Defect
9    No Defect  No Defect  No Defect  Defect
13      Defect  No Defect     Defect  Defect
..         ...        ...        ...     ...
193  No Defect  No Defect     Defect  Defect
194     Defect     Defect  No Defect  Defect
195  No Defect  No Defect     Defect  Defect
198  No Defect  No Defect     Defect  Defect
199  No Defect  No Defect  No Defect  Defect

[99 rows x 4 columns]

In [65]:
#find precision
model_precision = (subset.actual == subset.model3).mean()
model_precision

0.13131313131313133

In [67]:
print('Model 3')
print(f'Model 3: {model_precision: .2%}')

Model 3
Model 3:  13.13%

In [ ]:
# we will recommend model 1 since it has the highest precision rate and will reduce the false positive rate

4. Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [68]:
#read the csv file
df = pd.read_csv('gives_you_paws.csv')
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [69]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [76]:
# create baseline using idxmax which returns the max value in the actual column which is dog
df['baseline'] = df.actual.value_counts().idxmax()

In [77]:
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [79]:
# find the accuracy of the baseline first
accuracy = (df.actual == df.baseline).mean()
accuracy

0.6508

In [80]:
# find the accuracy of the model1 next
accuracy = (df.actual == df.model1).mean()
accuracy

0.8074

In [81]:
# find the accuracy of the model2 next
accuracy = (df.actual == df.model2).mean()
accuracy

0.6304

In [82]:
# find the accuracy of the model3 next
accuracy = (df.actual == df.model3).mean()
accuracy

0.5096

In [83]:
# find the accuracy of the model4 last
accuracy = (df.actual == df.model4).mean()
accuracy

0.7426

#In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

All of the models do better than the baseline except model 3.  The best model to use would be model1

B Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [ ]:
positve = dog
negative = cat

In [87]:
subset = df[df.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [89]:
#recall on model1
model_recall = (subset.actual == subset.model1).mean()
model_recall

0.803318992009834

In [91]:
#recall model2
model_recall = (subset.actual == subset.model2).mean()
model_recall

0.49078057775046097

In [92]:
#recall model3
model_recall = (subset.actual == subset.model3).mean()
model_recall

0.5086047940995697

In [93]:
#recall model4
model_recall = (subset.actual == subset.model4).mean()
model_recall

0.9557467732022127

In [ ]:
# so use model 4 for phase I

In [96]:
#now use model4
pd.crosstab(df.model4, df.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [ ]:
#Now in phase II we want to minimize the false positives so we will focus precision

In [97]:
subset1 = df[df.model1 == 'dog']
subset2 = df[df.model2 == 'dog']
subset3 = df[df.model3 == 'dog']
subset4 = df[df.model4 == 'dog']
print([subset1,subset2,subset3,subset4])

[     actual model1 model2 model3 model4 baseline
1       dog    dog    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
5       dog    dog    dog    dog    dog      dog
7       cat    dog    cat    cat    dog      dog
8       dog    dog    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4992    dog    dog    cat    cat    dog      dog
4993    dog    dog    cat    dog    dog      dog
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[2937 rows x 6 columns],      actual model1 model2 model3 model4 baseline
0       cat    cat    dog    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
5       dog    dog    dog    dog    dog      dog
9       dog    cat    dog    cat    dog      dog
10      dog    dog    dog    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4983    dog    cat    dog    dog    dog      dog
4988    dog    dog    dog    dog    cat      dog
4990    dog    dog    dog    cat    dog      dog
4995    dog    dog    dog    dog    dog      dog
4999    dog    dog    dog    dog    dog      dog

[1788 rows x 6 columns],      actual model1 model2 model3 model4 baseline
4       cat    cat    cat    dog    dog      dog
5       dog    dog    dog    dog    dog      dog
8       dog    dog    cat    dog    dog      dog
10      dog    dog    dog    dog    dog      dog
13      dog    cat    dog    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4993    dog    dog    cat    dog    dog      dog
4994    cat    cat    cat    dog    dog      dog
4995    dog    dog    dog    dog    dog      dog
4997    dog    cat    cat    dog    dog      dog
4999    dog    dog    dog    dog    dog      dog

[2508 rows x 6 columns],      actual model1 model2 model3 model4 baseline
0       cat    cat    dog    cat    dog      dog
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
4       cat    cat    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4998    cat    cat    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[4253 rows x 6 columns]]

In [98]:
# model1 precision
model_precision = (subset1.actual == subset1.model1).mean()
model_precision

0.8900238338440586

In [101]:
# model2 precision
model_precision = (subset2.actual == subset2.model2).mean()
model_precision

0.8931767337807607

In [100]:
# model3 precision
model_precision = (subset3.actual == subset3.model3).mean()
model_precision

0.6598883572567783

In [102]:
# model4 precision
model_precision = (subset4.actual == subset4.model4).mean()
model_precision

0.7312485304490948

In [103]:
# model 2 performs the best so we will choose it
pd.crosstab(df.model4, df.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110